<div id="tab_plugin_tupana" class="tupana-container">
    <h3>{{ _('Tupana - Controle de Cores') }}</h3>
    
    <div class="tupana-content">
        <div class="row-fluid">
            <div class="span12">
                <h4>{{ _('Selecione uma Cor') }}</h4>
                <p>{{ _('Clique em uma cor para enviar o comando M182 para a impressora.') }}</p>
                
                <div class="tupana-colors-grid" data-bind="foreach: colors">
                    <div class="tupana-color-card" data-bind="click: $parent.sendColor, style: { backgroundColor: color }">
                        <div class="tupana-color-overlay">
                            <span class="tupana-color-name" data-bind="text: name"></span>
                            <span class="tupana-color-command" data-bind="text: command"></span>
                        </div>
                    </div>
                </div>
                
                <div class="tupana-status" data-bind="visible: statusMessage">
                    <div class="alert" data-bind="css: statusClass, text: statusMessage"></div>
                </div>
            </div>
        </div>
    </div>
</div>
